<!-- hero -->
<section class="section">
    <div class="container">
        <div class="asiat">
        <ul class="asiat-list">
            <li class="asiat-item">
              <a class="asiat-gr" href="#"></a>
                <img src="../img/Screenshot-1-transformed.png" alt="user" width="40"  class="border-radius">
            </li>
            <li class="asiat-item">
             <a class="asiat-gr" href="#"></a>
                <img src="../img/Screenshot-2-transformed.png" alt="user" width="40"  class="border-radius">
            </li>
            <li class="asiat-item">
             <a class="asiat-gr" href="#"></a>
                <img src="../img/Screenshot-3-transformed.png" alt="user" width="40"  class="border-radius">
            </li>
            <li class="reviews-item">
             <a href="#"></a>
             <div class="reviews">
                <p class="reviews-text"><span class="reviews-numbur">2k</span> reviews</p>
             </div>
            </li>
        </ul>
    </div>
        <h1 class="hero">
            organic <span class="span-hero">vegetables</span> to your diet today!
        </h1>
<p class="item-p">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
        <button type="button" class="button-shop"><span class="shop-span">shop now</span></button>
            <img class="img-tab"
            srcset="../img/image1-1x.png 1x, ../img/image2-2x.png 2x"
            src="../img/image1-1x.png" alt="girl"
            >   
        <ul class="list-btn">
            <li><button type="button" class="hero-btn">#organic</button></li>
            <li><button type="button" class="hero-btn">#products</button></li>
            <li><button type="button" class="hero-btn">#basket</button></li>
            <li><button type="button" class="hero-btn">#vegetables</button></li>
        </ul>
    </div>
</section>