<!-- hero -->
<section class="section">
    <div class="container">
        <div class="asiat">
        <ul class="asiat-list">
            <li class="asiat-item">
              <a class="asiat-gr" href=""></a>
              <picture>
                <source  media="(min-width:767px )" srcset="../img/userwom-1x.png, ../img/userwom@2x.png 2x">
                <img src="../img/userwom-1x.png" alt="user">
              </picture>
            </li>
            <li class="asiat-item">
             <a class="asiat-gr" href=""></a>
              <picture>
                <source media="(min-width:767px )" srcset="../img/userwomen.png 1x , ../img/userwomen@2x.png 2x">
                <img src="../img/userwomen.png" alt="user">
              </picture>
            </li>
            <li class="asiat-item">
             <a class="asiat-gr" href=""></a>
              <picture>
                <source media="(min-width:767px )" srcset="../img/user-1x.png 1x, ../img/user@2x.png 2x">
                <img src="../img/user-1x.png" alt="user">
              </picture>
            </li>
            <li>
             <a href=""></a>
              <picture>
                <source>
              </picture>
            </li>
        </ul>
    </div>
        <h1 class="hero">
            organic <span class="span-hero">vegetables</span> to your diet today!
        </h1>
<p class="item-p">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
        <button type="button" class="button-shop"><span class="shop-span">shop now</span></button>
            <img 
            srcset="../img/image1-1x.png 1x, ../img/image2-2x.png 2x"
            src="../img/image1-1x.png" alt=""
            >   
        <ul class="list-btn">
            <li><button type="button" class="hero-btn">#organic</button></li>
            <li><button type="button" class="hero-btn">#products</button></li>
            <li><button type="button" class="hero-btn">#basket</button></li>
            <li><button type="button" class="hero-btn">#vegetables</button></li>
        </ul>
    </div>
</section>