.list {
    list-style: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-width: 335px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01), 0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02), 0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03), 0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03), 0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04), 0px 0px 223px 0px rgba(0, 0, 0, 0.05);
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal-close-btn {
    position: absolute; 
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;

    background-color: transparent;
    stroke: var(--primary-text-color);
}


.modal-title {
    color: #141414;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 28px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/*MODAL CARD*/



.modal-list {
display: flex;
flex-direction: column;
gap: 12px;
}

.modal-card {position: relative;
    min-width: 295px ;
    background-color: #FAF3E7;
    border-radius: 20px;
    box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01), 0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02), 0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03), 0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03), 0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04), 0px 0px 223px 0px rgba(0, 0, 0, 0.05);

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 8px;

}

.modal-img {margin-left: auto;}

.modal-card-title {
    color: #141414;
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.72px;
}

.modal-card-text {
    color: #141414;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

.selected{ position: absolute;}





.contact-form-input {
    width: 100%;
    height: 46px;
    border-radius: 100px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    background-color: transparent;
    padding-left: 24px;
    outline: transparent;
    color: #000000;

}



.modal-form-field{
    width: 100%;
    height: 132px;

    color:#000000;
    border-radius: 20px;
    border: 1px solid rgba(20, 20, 20, 0.30);

    background-color: transparent;
    padding: 14px 24px;
    outline: transparent;
    resize: none;
}



.modal-form-btn {
    display: inline-flex;;
    margin: 0 auto;
    padding: 12px 24px;

    min-width: 92px;
    height: 42px;

    color: #FFF;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: capitalize;

    cursor: pointer;
    border: none;
    border-radius: 100px;
    background-color: #FC8A11;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: #A1C487;;
}