/* Fonts */
@import url('./fonts.css');

/* Variables/roots/base-styles */
@import url('');

/* Reset */
@import url('./reset.css');

/* Header */
@import url('');

/* Hero */
@import url('');

/* How it works */
@import url('');

/* TO ORDER YOUR VEGETABLE BASKET */
@import url('');

/* Easy Steps for Buying Fresh Vegetables */
@import url('');

/* ORGANIC VEGETABLES */
@import url('');

/* We will call you */
@import url('');

/* Footer */
@import url('');

/* Modal window */
@import url('');
